<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header">
            <h3>Sign In</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group mb-3">
                    <span class="input-group-icon input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" data-bind="value: email" placeholder="username">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-icon input-group-text"><i class="fas fa-key"></i></span>
                    <input type="password" class="form-control" data-bind="value: password" placeholder="password">
                </div>

                <span id="error-message" class="error text-danger"></span>

                <div class="form-group">
                    <input type="submit" value="Login" data-bind="click: login" class="btn float-end login_btn">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Don't have an account?<a href="#">Sign Up</a>
            </div>
        </div>
    </div>
</div>