.navbar-light .navbar-nav .nav-link.active {
    color: red;
}

html,body{
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.4) !important;
}

.card-header h3{
    color: white;
}

.input-group-icon{
    width: 50px;
    background-color: #FFC312;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    color: white !important;
    margin-left: 4px;
}

nav {
    background-color: rgba(0,0,0,0.4) !important;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.nav-item > .nav-link {
    color: white !important;
    font-size: large;
    cursor: pointer;
}

.active {
    font-weight: bolder;
}

#user-dropdown {
    position: absolute;
    right: 0;
}

.dropdown .dropdown-menu .dropdown-item:focus {
    background-color: #FFC312;
}

#search-bar-nav-bar {
    padding-left: 0px;
}