<div class="container">
    <div class="row">
        <div class="col-sm-12 card text-dark bg-secondary mb-3 mt-3" style="width: 100%; height: 100%;">
            <div class="card-header">
                <h5 class="d-flex justify-content-between align-items-center">
                    <span style="color: #fff;">Word to words querying</span>
                    <input type="submit" value="Search" data-bind="click: search" class="btn float-end login_btn">
                </h5>
            </div>
            <div class="card-body">

                Word 1
                <input type="text" data-bind="value: word1"> <br/>
                Word 2
                <input type="text" data-bind="value: word2"> <br />
                Word 3
                <input type="text" data-bind="value: word3"> <br />
                Word 4
                <input type="text" data-bind="value: word4"> <br />
                Word 5
                <input type="text" data-bind="value: word5">


                <div>
                    <span id="error-message" class="error text-warning alert-link"></span>
                </div>

                <div class="card-body" id="wordsTable">
                    <table class="table">
                        <thead>
                            <tr><th>Counter</th><th>Word</th></tr>
                        </thead>
                        <tbody data-bind="foreach: words">
                            <tr>
                                <td data-bind="text: counter ? counter  : 'N/A'"></td>
                                <td data-bind="text: word ? word : 'N/A'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="wordsCloud">
        <div class="col-sm-12 card text-dark bg-secondary mb-3 mt-3" style="width: 100%; height: 100%;">
            <div class="card-header">
            </div>
            <div class="card-body">
                <canvas class="words" id="keywords" width="1000" height="750"></canvas>
            </div>
        </div>
    </div>
</div>
