<h1>Title details</h1>

<div class="col-6">
    Title type <div data-binding="text: title.titleType">
    Primary Title <div data-binding="text: title.primaryTitle">
    Original Title <div data-binding="text: title.originalTitle">
    Is adult <div data-binding="text: title.isAdult">
    Start Year <div data-binding="text: title.startYear">
    End Year <div data-binding="text: title.endYear">
    Run Time Minutes <div data-binding="text: title.runTimeMinutes">
    Poster <div data-binding="text: title.poster">
    Awards <div data-binding="text: title.awards">
    Plot <div data-binding="text: title.plot">
    <button class="btn btn-secondary" data-bind="click: back">Back</button>
</div>