<div class="container">
    <div class="row">
        <div class="col-sm-12 card text-dark bg-secondary mb-3 mt-3" style="width: 100%; height: 100%;">
            <div class="card-header">
                <h5 class="d-flex justify-content-between align-items-center">
                    <span style="color: #fff;">Person Details</span>
                    <button class="btn btn-secondary float-right" data-bind="click: back">Back</button>
                </h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birth Year</th>
                            <th>Death Year</th>
                            <th>Rating<th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-bind="text: person()['name'] ? person()['name'] : 'N/A'"></td>
                            <td data-bind="text: person()['birthYear'] !== '    ' ? person()['birthYear'] : 'N/A'"></td>
                            <td data-bind="text: person()['deathYear'] !== '    ' ? person()['deathYear'] : 'N/A'"></td>
                            <td data-bind="text: person()['rating'] ? person()['rating'] : 'N/A'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- ko if: coActors-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 card text-dark bg-secondary mb-3 mt-3" style="width: 100%; height: 100%;">
            <div class="card-header">
                <h5 class="d-flex justify-content-between align-items-center">
                    <span style="color: #fff;">Co Actors</span>
                </h5>
                <div>
                    <span id="error-message" class="error text-warning alert-link"></span>
                </div>
            </div>
            <div class="card-body">
                <table class="table" id="coActors">
                    <thead>
                        <tr>
                            <th>Person Id</th>
                            <th>Name</th>
                            <th>Frequency</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: coActors">
                        <tr>
                            <td data-bind="text: personId"></td>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: frequency"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
