<div class="container">
    <div class="row">
        <div class="col-sm-12 card text-dark bg-secondary mb-3 mt-3" style="width: 100%; height: 100%;">
            <div class="card-header">
                <h5 class="d-flex justify-content-between align-items-center">
                    <span style="color: #fff;">User Details</span>
                    <button class="btn btn-secondary float-right" data-bind="click: back">Back</button>
                </h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--
                            <td data-bind="text: title()['titleType'] ? title()['titleType'] : 'N/A'"></td>
                            <td data-bind="text: title()['primaryTitle'] ? title()['primaryTitle'] : 'N/A'"></td>
                            <td data-bind="text: title()['originalTitle'] ? title()['originalTitle'] : 'N/A'"></td>
                            -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
